.listPrice {
  /* UI Properties */
  text-decoration: var(--unnamed-decoration-strikethrough);
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-14) var(--unnamed-font-family-lato);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  text-decoration: line-through;
  font: normal normal bold 18px/14px Lato;
  letter-spacing: 0px;
  color: #3B3C3D;
  opacity: 1;
}

.sellingPrice {
  /* UI Properties  #170D65;*/
  /* font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900) var(--unnamed-font-size-32)/var(--unnamed-line-spacing-14) var(--unnamed-font-family-lato); */
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--principal);
  font: var(--unnamed-font-size-22);
  text-align: left;
  font: normal normal 900 18px/14px Lato;
  color: #3B3C3D;
  margin-top: 10px;
  text-decoration:line-through;
}

.sellingPriceValue {
  font-size: 1.25rem;
  font-weight: 500;
}

.installments {
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-14) var(--unnamed-font-family-lato);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--preto);
  text-align: left;
  font: normal normal normal 16px/16px Lato;
  letter-spacing: 0px;
  color: #66666B;
  opacity: 1;
}

.savings {
  font-weight: 500;
  color: #9BC980;
  font-weight: 800;
}

.sellingPriceValue--summary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2E2E2E;
}

.savings--summary {
  background: #170D65;
  border-radius: 1000px;
  align-items: center;
  display: flex;
  gap: 3px;
  padding: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: .875rem;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.savings--summaryPercentage {
  background: #170D65;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}